.camera-wrap{
    display: none;
    background-color: black;
}

.hide {
    display:none;
  }
video{
    /* object-fit: cover; */
}

body{
    margin: 0;
}

/* .mainScreen{
    background-color: black;
} */