.settingsWrapper{
    display: none;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.user{
    text-align: center;
}

.settingsWrapper button{
    margin: 0 auto;
    display: block;
    height: 40px;
    width: 150px;
    background-color: darkblue;
    border: 2px solid darkblue;
    border-radius: 15px;
    color: whitesmoke;
    font-size: 0.9em;
    font-weight: bold;
}

.warning{
    z-index: 200;
    position: absolute;
    margin-bottom:30%;
    display: flex;
    justify-self: center;
    align-self: flex-end;
    color: red;
    font-size: 2em;
    text-align: center;
}