.settingsWrapper{
    display: none;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.user{
    text-align: center;
}

.settingsWrapper button{
    margin: 0 auto;
    display: block;
    height: 40px;
    width: 150px;
    background-color: darkblue;
    border: 2px solid darkblue;
    border-radius: 15px;
    color: whitesmoke;
    font-size: 0.9em;
    font-weight: bold;
}