
*{
    margin:0;
    padding: 0;
    overflow: hidden;
}

#wert{
    position: absolute;
}

html{
    height:100%;
    /* background-color: #2C5E9D; */

    /* background-image: url("Hintergrund.jpg");
    background-position: center;
    background-size: cover; */


    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,2989d8+44,7db9e8+66,e5e5e5+100 */

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,2989d8+44,7db9e8+64,e5e5e5+100 */
background: #1e5799; /* Old browsers */
background: -moz-linear-gradient(top, #1e5799 0%, #2989d8 44%, #7db9e8 64%, #e5e5e5 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #1e5799 0%,#2989d8 44%,#7db9e8 64%,#e5e5e5 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #1e5799 0%,#2989d8 44%,#7db9e8 64%,#e5e5e5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */

    overflow: hidden;
}

#textAnim{
    position: relative;
}

#textAnim svg {
    position: absolute;
}

#textAnim svg:last-child{
    position: relative;
}

#globeAnim{
    position: relative;
}

#globeAnim svg {
    position: absolute;
}

#globeAnim svg:last-child{
    position: relative;
}

body{
    margin:0;
    padding: 0;
    height:100vh;
}
#anim{
    height:99%;
    position: relative;
    max-width: 800px;
    margin: 0 auto;
}

#button{
    width: 100%;
    position:absolute;
    bottom:0;
    height:14%;
    z-index: 1;
}