.loginWrap button{
    display: block;
    height: 40px;
    width: 200px;
    margin: 10% auto;
    background-color: darkblue;
    border: 2px solid darkblue;
    border-radius: 15px;
    color: whitesmoke;
    font-size: 0.9em;
    font-weight: bold;
}

input{
    margin: 5% auto;
    display: block;
    height: 30px;
    border: 2px lightblue solid;
    border-radius: 15px;
    text-align: center;
    font-size: 1.2em;
}

.loginWrap div{
    text-align: center;
    font-size: 1.4em;
}

.loginAction div {
    margin: 10% auto;
}
    
.loginWrap{
    height: 100%;
    display:grid;
    align-items: center;
    justify-content: center;
}
